<h1>新增看板</h1>

<form action="<%= boards_path %>" method="post">

<input type="text" name="authenticity_token" value="<%= form_authenticity_token %>">

<label for="title">看板名稱</label>
<input type="text" id="title" name="title"> <br />

<label for="title">描述</label>
<textarea id="intro" name="intro"></textarea> <br />

<input type="submit" value="送出">
</form>